.Cart {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  .Cart-item {
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
  }
  
  .Cart-item p {
    margin: 5px 0;
  }
  
  .Cart button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 5px 0 0;
  }
  
  .Cart button:hover {
    background-color: #0056b3;
  }
  
  